/dts-v1/;

#include <dt-bindings/sound/qcom,q6afe.h>
#include <dt-bindings/sound/qcom,q6asm.h>
#include "sdm845-comma-common.dtsi"

/ {
	model = "comma mici";
	compatible = "comma,mici", "qcom,sdm845";
	qcom,msm-id = <QCOM_ID_SDA845 0x20001>, <QCOM_ID_SDM845 0x20001>,
		      <QCOM_ID_SDM845 0x20000>, <348 0x20001>;
	qcom,board-id = <0x22 0>;

	aliases {
		hsuart0 = &uart3;
	};

	spkr_codec: audio-codec-0 {
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	mic_codec: audio-codec-1 {
		compatible = "linux,spdif-dir";
		#sound-dai-cells = <0>;
	};
};

&adsp_pas {
	firmware-name = "qcom/sdm845/adsp.mbn";

	status = "okay";
};

&i2c5 {
	touchscreen@38 {
		compatible = "focaltech,ft3168";
		reg = <0x38>;

		interrupts-extended = <&tlmm 125 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&tlmm 104 GPIO_ACTIVE_LOW>;

		iovcc-supply = <&vreg_s4a_1p8>;
		vcc-supply = <&lcd3v3>;

		touchscreen-size-x = <240>;
		touchscreen-size-y = <536>;
	};
};

&mdss_dsi0 {
	panel@0 {
		compatible = "dwo,do0200fat07";

		reg = <0>;

		vddio-supply = <&vreg_l14a_1p88>;
		vdd-supply = <&lcd3v3>;

		reset-gpios = <&tlmm 6 GPIO_ACTIVE_LOW>;

		rotation = <90>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel_in>;
	data-lanes = <0>;
};

&q6afedai {
	dai@18 {
		reg = <SECONDARY_MI2S_RX>;
		qcom,sd-lines = <1>;
	};

	dai@19 {
		reg = <SECONDARY_MI2S_TX>;
		qcom,sd-lines = <0>;
	};
};

&q6asmdai {
	dai@0 {
		reg = <MSM_FRONTEND_DAI_MULTIMEDIA1>;
		direction = <Q6ASM_DAI_RX>;
	};

	dai@1 {
		reg = <MSM_FRONTEND_DAI_MULTIMEDIA2>;
		direction = <Q6ASM_DAI_TX>;
	};
};

&sound {
	compatible = "qcom,sdm845-sndcard";
	pinctrl-0 = <&sec_mi2s_active>;
	pinctrl-names = "default";
	model = "comma-mici";

	mm1-dai-link {
		link-name = "MultiMedia1";
		cpu {
			sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA1>;
		};
	};

	mm2-dai-link {
		link-name = "MultiMedia2";
		cpu {
			sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA2>;
		};
	};

	speaker-dai-link {
		link-name = "Secondary MI2S Playback";
		cpu {
			sound-dai = <&q6afedai SECONDARY_MI2S_RX>;
		};

		platform {
			sound-dai = <&q6routing>;
		};

		codec {
			sound-dai = <&spkr_codec>;
		};
	};

	mic-dai-link {
		link-name = "Secondary MI2S Capture";
		cpu {
			sound-dai = <&q6afedai SECONDARY_MI2S_TX>;
		};

		platform {
			sound-dai = <&q6routing>;
		};

		codec {
			sound-dai = <&mic_codec>;
		};
	};
};

&tlmm {
	sec_mi2s_active: sec-mi2s-active-state {
		pins = "gpio80", "gpio81", "gpio82", "gpio83";
		function = "sec_mi2s";
		drive-strength = <8>;
		bias-disable;
	};
};

&uart3 {
	status = "okay";
};

&wifi {
	qcom,calibration-variant = "comma-mici";
};
